.tile {
  align-items: stretch;
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: min-content;
}
.tile.is-ancestor {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}
.tile.is-ancestor:last-child {
  margin-bottom: -10px;
}
.tile.is-ancestor:not(:last-child) {
  margin-bottom: 10px;
}
.tile.is-child {
  margin: 0 !important;
}
.tile.is-parent {
  padding: 10px;
}
.tile.is-vertical {
  flex-direction: column;
}
.tile.is-vertical > .tile.is-child:not(:last-child) {
  margin-bottom: 20px !important;
}
